# Soccer Hours

## Setting up Database using Python

In [8]:
# Import sqlite3 module
import sqlite3

# Connect to the soccerhours database
db=sqlite3.connect("/Users/subhayuchakravarty/sqlite/db/soccerhours.db")
cursor = db.cursor()

OperationalError: no such table: events

In [2]:
# Create table Users - Stores User data
cursor.execute('''
CREATE TABLE user (
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_fname VARCHAR,
    user_lname VARCHAR,
    username VARCHAR NOT NULL,
    admin_status VARCHAR NOT NULL,
    user_status VARCHAR NOT NULL,
    user_email VARCHAR NOT NULL,
    zip_code INTEGER NOT NULL,
    date_added DATETIME NOT NULL
)
''')

In [3]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE venue (
    venue_id INTEGER NOT NULL PRIMARY KEY,
    venue_name VARCHAR NOT NULL,
    venue_desc VARCHAR NOT NULL,
    venue_st_addr VARCHAR NOT NULL,
    venue_zip_code INTEGER NOT NULL
)
''')

In [9]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE events (
    pk_event_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_name VARCHAR NOT NULL,
    event_desc VARCHAR NOT NULL,
    event_date DATETIME NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    fk_venue_id INTEGER NOT NULL,
    event_capacity INTEGER NOT NULL,
    event_status VARCHAR NOT NULL,
    gender_options VARCHAR NOT NULL,
    members_joined INTEGER NOT NULL,
    FOREIGN KEY (venue_id) REFERENCES venue(venue_id)
)
''')

In [33]:
# Write a query to list the contents of the table media_types and execute it.
# Your code goes here.

cursor.execute('''SELECT * FROM users ''')
all = cursor.fetchall()

for pl in all:
    print(pl)

# Python Function Definitions

## Add New User

Adds a user to the SoccerHours Database

In [33]:
    cursor.execute(''' delete from users where userId=4 ''')
    cursor.execute(''' update sqlite_sequence set seq=2 where name='users' ''')
    db.commit()

In [30]:
# Adds One New user by inserting into table 'users'

def add_user(**userdata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in userdata.items(): 
        print ("%s = %s" %(key, value))
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    
    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,?,?,?,'A','A',78751,?,'abcd987600','2019-07-01 10:10:59') ''',(username,firstname,lastname,email))
    db.commit()

In [ ]:
# Adds Multiple users from CSV

def add_users(**userdata) :

    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    
    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,?,?,?,'A','A',78751,?,'abcd987600','2019-07-01 10:10:59') ''',(username,firstname,lastname,email))
    db.commit()

In [31]:
userdata = {'username':'pgupta', 'firstname': 'Prajval', 'lastname': 'Gupta', 'email': 'prajval.gupta@gmail.com'}

add_user(**userdata)

username = pgupta
firstname = Prajval
lastname = Gupta
email = prajval.gupta@gmail.com

In [21]:
db.close()