# Soccer Hours

## Setting up Database using Python

In [24]:
# Import sqlite3 module
import sqlite3

# Connect to the soccerhours database
db=sqlite3.connect("/Users/subhayuchakravarty/sqlite/db/soccerhours.db")
cursor = db.cursor()

In [6]:
cursor.execute(''' drop table event_members ''')

In [7]:
# Create table Users - Stores User data
cursor.execute('''
CREATE TABLE user (
    pk_user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_fname VARCHAR,
    user_lname VARCHAR,
    username VARCHAR NOT NULL,
    admin_status VARCHAR NOT NULL,
    user_status VARCHAR NOT NULL,
    user_email VARCHAR NOT NULL,
    user_password VARCHAR NOT NULL,
    zip_code INTEGER NOT NULL,
    date_added TIMESTAMP NOT NULL
)
''')

In [8]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE venue (
    pk_venue_id INTEGER NOT NULL PRIMARY KEY,
    venue_name VARCHAR NOT NULL,
    venue_desc VARCHAR NOT NULL,
    venue_st_addr VARCHAR NOT NULL,
    venue_zip_code INTEGER NOT NULL
)
''')

In [9]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE events (
    pk_event_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_name VARCHAR NOT NULL,
    event_desc VARCHAR NOT NULL,
    event_date DATETIME NOT NULL,
    start_time INTEGER NOT NULL,
    end_time INTEGER NOT NULL,
    fk_venue_id INTEGER NOT NULL,
    event_capacity INTEGER NOT NULL,
    event_status VARCHAR NOT NULL,
    gender_options VARCHAR NOT NULL,
    members_joined INTEGER NOT NULL,
    FOREIGN KEY (fk_venue_id) REFERENCES venue(venue_id)
)
''')

In [10]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE slots (
    pk_slot_id INTEGER NOT NULL,
    fk_venue_id INTEGER NOT NULL,
    availability VARCHAR NOT NULL,
    FOREIGN KEY (fk_venue_id) REFERENCES venue(venue_id)
)
''')

In [11]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE event_members (
    pk_member_number INTEGER PRIMARY KEY AUTOINCREMENT,
    fk_event_id INTEGER NOT NULL,
    fk_user_id INTEGER NOT NULL,
    FOREIGN KEY (fk_event_id) REFERENCES events(event_id)
    FOREIGN KEY (fk_user_id) REFERENCES user(pk_user_id)
)
''')

In [13]:
# Write a query to list the contents of the table media_types and execute it.
# Your code goes here.

cursor.execute('''SELECT * FROM user ''')
all = cursor.fetchall()

for pl in all:
    print(pl)

# Python Function Definitions

## Add New User

Adds a user to the SoccerHours Database

In [15]:
    cursor.execute(''' delete from user''')
    cursor.execute(''' insert into sqlite_sequence values('user',0) ''')
    db.commit()

In [22]:
# Adds One New user by inserting into table 'users'

def add_user(**userdata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in userdata.items(): 
        print ("%s = %s" %(key, value))
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    password=userdata['password']
    zipcode=userdata['zipcode']
    
    cursor.execute(''' INSERT INTO user VALUES((select seq from sqlite_sequence where name='user')+1,?,?,?,'A','A',?,?,?,'2019-07-01 10:10:59') ''',(username,firstname,lastname,email,password,zipcode))
    db.commit()

In [17]:
# Adds One New user by inserting into table 'users'

def add_user(**userdata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in userdata.items(): 
        print ("%s = %s" %(key, value))
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    password=userdata['password']
    zipcode=userdata['zipcode']
    
    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,?,?,?,'A','A',?,?,?,'2019-07-01 10:10:59') ''',(username,firstname,lastname,email,password,zipcode))
    db.commit()

## Test Add_User

In [25]:
userdata = {'username':'s7chak', 'firstname': 'Subhayu', 'lastname': 'Chakravarty', 'email': 's7chak@gmail.com', 'password':'Acbbjh15642', 'zipcode':78751}

add_user(**userdata)

username = s7chak
firstname = Subhayu
lastname = Chakravarty
email = s7chak@gmail.com
password = Acbbjh15642
zipcode = 78751

In [21]:
db.close()

## Add New Venue

Adds a user to the SoccerHours Database

In [15]:
    cursor.execute(''' delete from venue''')
    cursor.execute(''' insert into sqlite_sequence values('venue',0) ''')
    db.commit()

In [26]:
# Adds One New Venue by inserting into table 'users'

def add_venue(**venuedata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in venuedata.items(): 
        print ("%s = %s" %(key, value))
    
    venuename=venuedata['venuename']
    venuedesc=venuedata['venuedesc']
    venueaddr=venuedata['venueaddr']
    zipcode=venuedata['zipcode']
    
    cursor.execute(''' INSERT INTO venue VALUES((select seq from sqlite_sequence where name='venue')+1,?,?,?,?) ''',(venuename,venuedesc,venueaddr,zipcode))
    db.commit()

In [17]:
# Adds Multiple New Venues by inserting into table 'users'

def add_venue(**venuedata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in userdata.items(): 
        print ("%s = %s" %(key, value))
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    password=userdata['password']
    zipcode=userdata['zipcode']
    
    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,?,?,?,'A','A',?,?,?,'2019-07-01 10:10:59') ''',(username,firstname,lastname,email,password,zipcode))
    db.commit()

## Test Add_User

In [27]:
venuedata = {'venuename':'Zilker Park', 'venuedesc': 'Zilker Park - Large open grounds near Barton Creek', 'venueaddr': 'Zilker Park, Barton', 'zipcode':78751}

add_venue(**venuedata)

venuename = Zilker Park
venuedesc = Zilker Park - Large open grounds near Barton Creek
venueaddr = Zilker Park, Barton
zipcode = 78751