# Soccer Hours

## Setting up Database using Python

In [318]:
# Import sqlite3 module
import sqlite3

# Connect to the soccerhours database
db=sqlite3.connect("/Users/subhayuchakravarty/sqlite/db/soccerhours2.db")
cursor = db.cursor()

In [377]:
def get_slot_ids(starttime, endtime):
    diff = endtime - starttime
    slotstarts=starttime
    slotids = list()
    cursor.execute(''' SELECT slot_id from timeslots where start_time= ? ''',(starttime,))
    slotids.append(cursor.fetchone()[0])
    
    if diff>1:
        for i in range(diff-1): 
            slotids.append(slotids[i]+1)
        return slotids    
    else:
        return slotids[0]

In [6]:
cursor.execute(''' drop table event_members ''')

In [7]:
# Create table Users - Stores User data
cursor.execute('''
CREATE TABLE user (
    pk_user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_fname VARCHAR,
    user_lname VARCHAR,
    username VARCHAR NOT NULL,
    admin_status VARCHAR NOT NULL,
    user_status VARCHAR NOT NULL,
    user_email VARCHAR NOT NULL,
    user_password VARCHAR NOT NULL,
    zip_code INTEGER NOT NULL,
    date_added TIMESTAMP NOT NULL
)
''')

In [315]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE venue (
    pk_venue_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    venue_name VARCHAR NOT NULL,
    venue_desc VARCHAR NOT NULL,
    venue_st_addr VARCHAR NOT NULL,
    venue_zip_code INTEGER NOT NULL
)
''')

In [36]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE events (
    pk_event_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_name VARCHAR NOT NULL,
    event_desc VARCHAR NOT NULL,
    event_date DATETIME NOT NULL,
    start_time INTEGER NOT NULL,
    end_time INTEGER NOT NULL,
    fk_user_id INTEGER NOT NULL,    
    fk_venue_id INTEGER NOT NULL,
    event_capacity INTEGER NOT NULL,
    event_status VARCHAR NOT NULL,
    gender_option VARCHAR NOT NULL,
    members_joined INTEGER NOT NULL,
    slots VARCHAR NOT NULL,
    FOREIGN KEY (fk_venue_id) REFERENCES venue(venue_id)
)
''')

In [176]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE slots (
    slot_id INTEGER NOT NULL,
    fk_venue_id INTEGER NOT NULL,
    date DATETIME NOT NULL,
    availability VARCHAR NOT NULL,
    FOREIGN KEY (fk_venue_id) REFERENCES venue(venue_id)
)
''')

In [11]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE event_members (
    fk_event_id INTEGER NOT NULL,
    fk_user_id INTEGER NOT NULL,
    FOREIGN KEY (fk_event_id) REFERENCES events(event_id)
    FOREIGN KEY (fk_user_id) REFERENCES user(pk_user_id)
)
''')

In [ ]:
# Create Static table for Slot ID defintions
cursor.execute('''
CREATE TABLE timeslots (
    start_time INTEGER NOT NULL,
    slot_id INTEGER NOT NULL
)
''')

cursor.execute('''
INSERT INTO timeslots VALUES (8,1),(9,2),(10,3),(11,4),(12,5),(13,6),(14,7),(15,8),(16,9),(17,10),(18,11),(19,12),(20,13);
''')
db.commit()

In [13]:
# Write a query to list the contents of the table media_types and execute it.
# Your code goes here.

cursor.execute('''SELECT * FROM user ''')
all = cursor.fetchall()

for pl in all:
    print(pl)

# Python Function Definitions

## 1. Add New User

Adds a user to the SoccerHours Database

In [59]:
    cursor.execute(''' delete from user''')
    cursor.execute(''' insert into sqlite_sequence values('user',0) ''')
#     cursor.execute(''' delete from sqlite_sequence where name='user' ''')
#    cursor.execute(''' update sqlite_sequence set seq=0 where name='user' ''')
    db.commit()

In [60]:
# Adds One New user by inserting into table 'users'

def add_user(**userdata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in userdata.items(): 
        print ("%s = %s" %(key, value))
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    password=userdata['password']
    zipcode=userdata['zipcode']
    
    #email duplication check
    
    cursor.execute(''' INSERT INTO user VALUES((select seq from sqlite_sequence where name='user')+1,?,?,?,'A','A',?,?,?,'2019-07-01 10:10:59') ''',(username,firstname,lastname,email,password,zipcode))
    db.commit()

In [274]:
# Adds Multiple New user by inserting into table 'users'

def add_users(**userdata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in userdata.items(): 
        print ("%s = %s" %(key, value))
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    password=userdata['password']
    zipcode=userdata['zipcode']
    
    
    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,?,?,?,'A','A',?,?,?,?) ''',(username,firstname,lastname,email,password,zipcode,date('now')))
    db.commit()

## Test Add_User

In [275]:
userdata = {'username':'pgupta', 'firstname': 'Prajval', 'lastname': 'Gupta', 'email': 'pgupta@gmail.com', 'password':'222jhjkhsoeed', 'zipcode':78751}

add_user(**userdata)

username = pgupta
firstname = Prajval
lastname = Gupta
email = pgupta@gmail.com
password = 222jhjkhsoeed
zipcode = 78751

In [21]:
db.close()

In [124]:
# Connect to the soccerhours database
db=sqlite3.connect("/Users/subhayuchakravarty/sqlite/db/soccerhours.db")
cursor = db.cursor()

## 2. Add New Venue

Adds a user to the SoccerHours Database

In [316]:
    cursor.execute(''' delete from venue''')
    cursor.execute(''' delete from slots''')
    cursor.execute(''' delete from sqlite_sequence where name='venue' ''')    
    cursor.execute(''' insert into sqlite_sequence values('venue',0) ''')
    db.commit()

In [311]:
# Adds One New Venue by inserting into table 'venue'

def add_venue(**venuedata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in venuedata.items(): 
        print ("%s = %s" %(key, value))
    
    venuename=venuedata['venuename']
    venuedesc=venuedata['venuedesc']
    venueaddr=venuedata['venueaddr']
    zipcode=venuedata['zipcode']

#     cursor.execute(''' Select seq+1 from sqlite_sequence where name='venue' ''')
#     venueid=cursor.fetchone()[0]
    
    
    # duplicate venue check

    # Inserts into venue
    cursor.execute(''' INSERT INTO venue VALUES((Select seq+1 from sqlite_sequence where name='venue'),?,?,?,?) ''',(venuename,venuedesc,venueaddr,zipcode))

    
    # Inserts into Slots table - assuming all slots available
    #for i in range(13):
    #   cursor.execute(''' INSERT INTO slots VALUES(?+1,CAST(? as INTEGER),'A') ''',(i,venueid))
    
    db.commit()

In [306]:
db.close()

## Test Add_Venue

In [321]:
venuedata = {'venuename':'Charles Alan Wright Field_1', 'venuedesc': 'UT Intramural grounds', 'venueaddr': 'UT Austin', 'zipcode':78712}

add_venue(**venuedata)

venuename = Charles Alan Wright Field_1
venuedesc = UT Intramural grounds
venueaddr = UT Austin
zipcode = 78712

## 3. Start an Event

Adds an event into soccerhours database in Active status with 1 member added

In [317]:
    cursor.execute(''' delete from events''')
    cursor.execute(''' delete from event_members''')    
    cursor.execute(''' delete from slots''')    
    cursor.execute(''' insert into sqlite_sequence values('events',0) ''')
    db.commit()

In [322]:
# Adds the New Event by inserting into table 'events'

def start_event(**eventdata) :

    #    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,'pgupta','Prajval','Gupta','A','A',78751,'prajval.gupta@gmail.com','abcd987600','2019-07-01 10:10:59') ''')
    for key, value in eventdata.items(): 
        print ("%s = %s" %(key, value))
    
    venueid=eventdata['venueid']    
    userid=eventdata['userid'] 
    eventname=eventdata['eventname']
    eventdesc=eventdata['eventdesc']
    eventdate=eventdata['eventdate']
    starttime=eventdata['starttime']
    endtime=eventdata['endtime']
    eventcapacity=eventdata['eventcapacity']
    genderoption=eventdata['genderoption']
    slots=eventdata['slots'].split(',')
    cursor.execute(''' Select seq+1 from sqlite_sequence where name='events' ''')    
    eventid=cursor.fetchone()[0]
    
        
    # Check if valid user ()
    # If today, check if start time later than current time
    
    cursor.execute(''' INSERT INTO events(pk_event_id,event_name,event_desc,event_date,start_time,end_time,fk_user_id,fk_venue_id,event_capacity,event_status,members_joined,slots,gender_option) VALUES(?,?,?,?,?,?,?,?,?,'A',1,?,?) ''',(eventid,eventname,eventdesc,eventdate,starttime,endtime,userid,venueid,eventcapacity,eventdata['slots'],genderoption))

    # Insert entry in event_members
    cursor.execute(''' INSERT INTO event_members VALUES(?,?) ''',(eventid,userid))
    
    # Check if entries exist in Slots
    slotspresent = check_venue_slots(venueid, eventdate)
    if ~slotspresent:
        for i in range(13):
            cursor.execute(''' INSERT INTO slots VALUES(?+1,CAST(? as INTEGER),?,'A') ''',(i,venueid,eventdate))

    # Update slots to show unavailable
    # https://stackoverflow.com/questions/283645/python-list-in-sql-query-as-parameter
#     qmark= '?'
#     qmarks= ', '.join(qmark for slotids in slots)
# ' Update slots set availability='U' where fk_venue_id=? and slot_id in (%s) ' % qmarks
    for i in slots:
        cursor.execute(''' Update slots set availability='U' where fk_venue_id=? and slot_id=? ''',(venueid,i))
        
    db.commit()

In [323]:
def check_venue_slots(venueid, eventdate):
    cursor.execute(''' Select 1 from slots where fk_venue_id=? and date=? ''',(venueid,eventdate))
    return bool(cursor.fetchone())

## Test Start_Event

In [325]:
eventdata = {'eventname':'Footy@Clarks-Event1', 'eventdesc': 'A friendly between Google and Dell', 'eventdate': '2019-07-20', 'starttime':10, 'endtime': 12, 'venueid': 1,'eventcapacity': 10, 'genderoption': 'M', 'slots': '2,3', 'userid':3}

start_event(**eventdata)

eventname = Footy@Clarks-Event1
eventdesc = A friendly between Google and Dell
eventdate = 2019-07-20
starttime = 10
endtime = 12
venueid = 1
eventcapacity = 10
genderoption = M
slots = 2,3
userid = 3

In [313]:
db.close()

## 5. Display all venues where particular time slot is available

Selects all the venues for a particular chosen time slot

In [480]:
# Selects venues where a certain time slot is available

def display_venues_for_slot(starttime, endtime, date) :

    slotids=get_slot_ids(starttime, endtime)
    
    print ("%s => %s" % (starttime, endtime))
    print(slotids)
    
    qmark= '?'
    if isinstance(slotids,list):
        qmarks= ', '.join(qmark for slotid in slotids)
    else:
        qmarks=qmark
    
    selectquery = "SELECT distinct s.fk_venue_id, v.venue_name from slots s join venue v on v.pk_venue_id=s.fk_venue_id where fk_venue_id not in (SELECT  fk_venue_id from slots where availability ='U' and slot_id in ({0}) and date={1}) UNION SELECT distinct v.pk_venue_id, v.venue_name from venue v where pk_venue_id not in (SELECT fk_venue_id from slots)".format(qmarks,date)
    cursor.execute(selectquery, slotids)
    venuesforslot=cursor.fetchall()
    for t in venuesforslot:
        print(t)

In [484]:
# Testing query
qmarks="?, ?"
slotids=(1,2)
date='2019-07-20'
selectquery = "SELECT distinct s.fk_venue_id, v.venue_name from slots s join venue v on v.pk_venue_id=s.fk_venue_id where fk_venue_id not in (SELECT  fk_venue_id from slots where availability ='U' and slot_id in ({0}) and date={1}) UNION SELECT distinct v.pk_venue_id, v.venue_name from venue v where pk_venue_id not in (SELECT distinct fk_venue_id from slots)".format(qmarks,date)
print(selectquery)
cursor.execute(selectquery, slotids)
venuesforslot=cursor.fetchall()
for t in venuesforslot:
    print(t)

SELECT distinct s.fk_venue_id, v.venue_name from slots s join venue v on v.pk_venue_id=s.fk_venue_id where fk_venue_id not in (SELECT  fk_venue_id from slots where availability ='U' and slot_id in (?, ?) and date=2019-07-20) UNION SELECT distinct v.pk_venue_id, v.venue_name from venue v where pk_venue_id not in (SELECT distinct fk_venue_id from slots)
(1, 'Zilker Field_1')
(2, 'Clark Field_1')
(3, 'Charles Alan Wright Field_1')

## Test Display_Venues_For_Slot

In [485]:
display_venues_for_slot(8,10,'2019-07-20')

8 => 10
[1, 2]
(1, 'Zilker Field_1')
(2, 'Clark Field_1')
(3, 'Charles Alan Wright Field_1')

In [486]:
db.close()