# Soccer Hours

## Setting up Database using Python

In [211]:
# Import sqlite3 module
import sqlite3

import datetime

# Connect to the soccerhours database
db=sqlite3.connect("/Users/subhayuchakravarty/sqlite/db/soccerhours2.db")
cursor = db.cursor()

In [42]:
def get_slot_ids(starttime, endtime):
    diff = endtime - starttime
    slotstarts=starttime
    slotids = list()
    cursor.execute(''' SELECT slot_id from timeslots where start_time= ? ''',(starttime,))
    slotids.append(cursor.fetchone()[0])
    
    if diff>1:
        for i in range(diff-1): 
            slotids.append(slotids[i]+1)
        return slotids    
    else:
        return slotids[0]

In [6]:
cursor.execute(''' drop table event_members ''')

In [45]:
# Create table Users - Stores User data
cursor.execute('''
CREATE TABLE user (
    pk_user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_fname VARCHAR,
    user_lname VARCHAR,
    username VARCHAR NOT NULL,
    admin_status VARCHAR NOT NULL,
    user_status VARCHAR NOT NULL,
    user_email VARCHAR NOT NULL,
    user_password VARCHAR NOT NULL,
    zip_code INTEGER NOT NULL,
    date_added TIMESTAMP NOT NULL
)
''')

In [ ]:
cursor.execute(''' Insert into sqlite_sequence values(''user'',100) '''
cursor.execute(''' Insert into sqlite_sequence values(''venue'',200) '''
cursor.execute(''' Insert into sqlite_sequence values(''events'',300) '''
db.commit()

In [46]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE venue (
    pk_venue_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    venue_name VARCHAR NOT NULL,
    venue_desc VARCHAR NOT NULL,
    venue_st_addr VARCHAR NOT NULL,
    venue_zip_code INTEGER NOT NULL
)
''')

In [48]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE events (
    pk_event_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_name VARCHAR NOT NULL,
    event_desc VARCHAR NOT NULL,
    event_date DATETIME NOT NULL,
    start_time INTEGER NOT NULL,
    end_time INTEGER NOT NULL,
    user_id INTEGER NOT NULL,    
    venue_id INTEGER NOT NULL,
    event_capacity INTEGER NOT NULL,
    event_status VARCHAR NOT NULL,
    gender_option VARCHAR NOT NULL,
    members_joined INTEGER NOT NULL,
    slots VARCHAR NOT NULL
)
''')

In [51]:
cursor.execute(''' Insert into sqlite_sequence values('user',100) ''')
cursor.execute(''' Insert into sqlite_sequence values('venue',200) ''')
cursor.execute(''' Insert into sqlite_sequence values('events',300) ''')
db.commit()

In [53]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE slots (
    slot_id INTEGER NOT NULL,
    venue_id INTEGER NOT NULL,
    date DATETIME NOT NULL,
    availability VARCHAR NOT NULL
)
''')

In [54]:
# Create table Venues - Stores Venue data
cursor.execute('''
CREATE TABLE event_members (
    event_id INTEGER NOT NULL,
    user_id INTEGER NOT NULL
)
''')

In [58]:
# Create Static table for Slot ID defintions
cursor.execute('''
CREATE TABLE timeslots (
    start_time INTEGER NOT NULL,
    slot_id INTEGER NOT NULL
)
''')

cursor.execute('''
INSERT INTO timeslots VALUES (8,1),(9,2),(10,3),(11,4),(12,5),(13,6),(14,7),(15,8),(16,9),(17,10),(18,11),(19,12),(20,13);
''')
db.commit()

In [59]:
# Write a query to list the contents of the table media_types and execute it.
# Your code goes here.

cursor.execute('''SELECT * FROM user ''')
all = cursor.fetchall()

for pl in all:
    print(pl)

# Python Function Definitions

## 1. Add New User

Adds a user to the SoccerHours Database

In [59]:
    cursor.execute(''' delete from user''')
    cursor.execute(''' insert into sqlite_sequence values('user',0) ''')
#     cursor.execute(''' delete from sqlite_sequence where name='user' ''')
#    cursor.execute(''' update sqlite_sequence set seq=0 where name='user' ''')
    db.commit()

In [84]:
# Adds One New user by inserting into table 'users'

def add_user(**userdata) :
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    password=userdata['password']
    zipcode=userdata['zipcode']



    
    #email duplication check
    
    cursor.execute(''' INSERT INTO user VALUES((select seq from sqlite_sequence where name='user')+1,?,?,?,'A','A',?,?,?,?) ''',(username,firstname,lastname,email,password,zipcode,datetime.datetime.now()))
    db.commit()

In [69]:
# Adds Multiple New user by inserting into table 'users'

def add_users(**userdata) :
    
    username=userdata['username']
    firstname=userdata['firstname']
    lastname=userdata['lastname']
    email=userdata['email']
    password=userdata['password']
    zipcode=userdata['zipcode']
    
    
    cursor.execute(''' INSERT INTO users VALUES((select seq from sqlite_sequence)+1,?,?,?,'A','A',?,?,?,?) ''',(username,firstname,lastname,email,password,zipcode,date('now')))
    db.commit()

## Test Add_User

In [87]:
userdata=dict()
userdata['username']=input("UserName:")
userdata['firstname']=input("First Name:")
userdata['lastname']=input("Last Name:")
userdata['email']=input("Email ID:")
userdata['password']=input("Password:")
userdata['zipcode']=input("Default Zip Code:")

add_user(**userdata)

UserName:pgupta
First Name:Prajval
Last Name:Gupta
Email ID:pgupta@gmail.com
Password:IUYIUY*&^&^
Default Zip Code:78751

In [21]:
db.close()

## 2. Add New Venue

Adds a user to the SoccerHours Database

In [316]:
    cursor.execute(''' delete from venue''')
    cursor.execute(''' delete from slots''')
    cursor.execute(''' delete from sqlite_sequence where name='venue' ''')    
    cursor.execute(''' insert into sqlite_sequence values('venue',0) ''')
    db.commit()

In [107]:
# Adds One New Venue by inserting into table 'venue'

def add_venue(**venuedata) :
    
    venuename=venuedata['venuename']
    venuedesc=venuedata['venuedesc']
    venueaddr=venuedata['venueaddr']
    zipcode=venuedata['zipcode']

#     cursor.execute(''' Select seq+1 from sqlite_sequence where name='venue' ''')
#     venueid=cursor.fetchone()[0]
    
    
    # duplicate venue check

    # Inserts into venue
    cursor.execute(''' INSERT INTO venue VALUES((Select seq+1 from sqlite_sequence where name='venue'),?,?,?,?) ''',(venuename,venuedesc,venueaddr,zipcode))

    
    # Inserts into Slots table - assuming all slots available
    #for i in range(13):
    #   cursor.execute(''' INSERT INTO slots VALUES(?+1,CAST(? as INTEGER),'A') ''',(i,venueid))
    
    db.commit()

In [306]:
db.close()
# Connect to the soccerhours database
db=sqlite3.connect("/Users/subhayuchakravarty/sqlite/db/soccerhours2.db")
cursor = db.cursor()

## Test Add_Venue

In [109]:
venuedata=dict()
venuedata['venuename']=input("Venue Short Name:")
venuedata['venuedesc']=input("Venue Description:")
venuedata['venueaddr']=input("Address:")
venuedata['zipcode']=input("Zip Code:")

add_venue(**venuedata)

Venue Short Name:Clarks Field 1
Venue Description:UT Austin Clark's ground 1
Address:UT Austin
Zip Code:78712

## 3. Start an Event

Adds an event into soccerhours database in Active status with 1 member added

In [317]:
    cursor.execute(''' delete from events''')
    cursor.execute(''' delete from event_members''')    
    cursor.execute(''' delete from slots''')    
    cursor.execute(''' insert into sqlite_sequence values('events',0) ''')
    db.commit()

In [139]:
# Adds the New Event by inserting into table 'events'

def start_event(**eventdata) :
    
    venueid=eventdata['venueid']    
    userid=eventdata['userid'] 
    eventname=eventdata['eventname']
    eventdesc=eventdata['eventdesc']
    eventdate=eventdata['eventdate']
    starttime=eventdata['starttime']
    endtime=eventdata['endtime']
    eventcapacity=eventdata['eventcapacity']
    genderoption=eventdata['genderoption']
    # Derive slots from StartTime, EndTime
    slotids=get_slot_ids(int(starttime),int(endtime))
    slots=",".join(map(str,slotids))
    print(slots)
    cursor.execute(''' Select seq+1 from sqlite_sequence where name='events' ''')    
    eventid=cursor.fetchone()[0]
    
        
    # Check if valid user ()
    # If today, check if start time later than current time
    
    cursor.execute(''' INSERT INTO events(pk_event_id,event_name,event_desc,event_date,start_time,end_time,user_id,venue_id,event_capacity,event_status,members_joined,slots,gender_option) VALUES(?,?,?,?,?,?,?,?,?,'A',1,?,?) ''',(eventid,eventname,eventdesc,eventdate,starttime,endtime,userid,venueid,eventcapacity,slots,genderoption))

    # Insert entry in event_members
    cursor.execute(''' INSERT INTO event_members VALUES(?,?) ''',(eventid,userid))
    
    # Check if entries exist in Slots
    slotspresent = check_venue_slots(venueid, eventdate)
    if ~slotspresent:
        for i in range(13):
            cursor.execute(''' INSERT INTO slots VALUES(?+1,CAST(? as INTEGER),?,'A') ''',(i,venueid,eventdate))

    for i in slotids:
        cursor.execute(''' Update slots set availability='U' where venue_id=? and slot_id=? ''',(venueid,i))
        
    db.commit()

In [140]:
def check_venue_slots(venueid, eventdate):
    cursor.execute(''' Select 1 from slots where venue_id=? and date=? ''',(venueid,eventdate))
    return bool(cursor.fetchone())

## Test Start_Event

In [141]:
eventdata=dict()
eventdata['eventname']=input("Event Name:")
eventdata['eventdesc']=input("Event Description:")
eventdata['eventdate']=input("Event Date(YYYY-MM-DD):")
eventdata['starttime']=input("Start Time (Hour in 24-hr format):")
eventdata['endtime']=input("End Time (Hour in 24-hr format):")
eventdata['venueid']=input("Venue ID:")
eventdata['eventcapacity']=input("Total Event Capacity:")
eventdata['genderoption']=input("Gender Option:")
eventdata['userid']=input("User ID:")

add_venue(**venuedata)

#eventdata = {'eventname':'Zilker-Footy', 'eventdesc': 'A friendly between UT Grads', 'eventdate': '2019-07-21', 'starttime':8, 'endtime': 10, 'venueid': 202,'eventcapacity': 4, 'genderoption': 'C', 'userid':101}

start_event(**eventdata)

Event Name:Profs at Zilker
Event Description:Friendly Football Profs MSBA
Event Date(YYYY-MM-DD):2019-07-28
Start Time (Hour in 24-hr format):16
End Time (Hour in 24-hr format):19
Venue ID:201
Total Event Capacity:10
Gender Option:M
User ID:102
9,10,11

# 4. Display timeslot availability at a venue

In [ ]:
# Display timeslot availability at a selected venue

def disp_slot_avl(**availdata) :
    
    for key, value in availdata.items(): 
        print ("%s = %s" %(key, value))
    
    venueid=availdata['venueid']    
    availdate=availdata['availdate']
    
    cursor.execute('''SELECT start_time FROM timeslots t JOIN slots s ON t.slot_id=s.slot_id WHERE s.fk_venue_id=? AND s.date=?  AND s.availability=\'A\'''',(venueid,availdate))
    
    db.commit()

# Test timeslot availability at a venue

In [ ]:
availdata= {'venueid': '2', 'availdate': '2019-07-20'}
disp_slot_avl(**availdata)

## 5. Display all venues where particular time slot is available

Selects all the available venues for a particular chosen time slot

In [220]:
# Selects venues where a certain time slot is available

def display_venues_for_slot(starttime, endtime, date) :

    slotids=get_slot_ids(starttime, endtime)
    
    print ("%s => %s" % (starttime, endtime))
    print(slotids)

    qmark= "?"
    if isinstance(slotids,list):
        qmarks= ",".join(qmark for slotid in slotids)
    else:
        qmarks=qmark
    print(qmarks)

    selectNonEventsquery = "SELECT distinct s.venue_id, v.venue_name from slots s join venue v on v.pk_venue_id=s.venue_id where venue_id not in (SELECT distinct venue_id from slots where availability ='U' and slot_id in ({0}) and date='{1}') UNION SELECT distinct v.pk_venue_id, v.venue_name from venue v where pk_venue_id not in (SELECT venue_id from slots)".format(qmarks,date)
#     selectEventsquery = "SELECT distinct s.venue_id, v.venue_name from slots s join venue v on v.pk_venue_id=s.venue_id where venue_id not in (SELECT  venue_id from slots where availability ='U' and slot_id in ({0}) and date={1}) UNION SELECT distinct v.pk_venue_id, v.venue_name from venue v where pk_venue_id not in (SELECT venue_id from slots)".format(qmarks,date)
    
    print(selectNonEventsquery)
    cursor.execute(selectNonEventsquery, slotids)
    venuesforslot=cursor.fetchall()
    
    for t in venuesforslot:
        print(t)
        
    return venuesforslot

## Test Display_Venues_For_Slot

In [221]:
display_venues_for_slot(8,19,'2019-07-28')

8 => 19
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
?,?,?,?,?,?,?,?,?,?,?
SELECT distinct s.venue_id, v.venue_name from slots s join venue v on v.pk_venue_id=s.venue_id where venue_id not in (SELECT distinct venue_id from slots where availability ='U' and slot_id in (?,?,?,?,?,?,?,?,?,?,?) and date='2019-07-28') UNION SELECT distinct v.pk_venue_id, v.venue_name from venue v where pk_venue_id not in (SELECT venue_id from slots)
(202, 'Zilker Field_1')
(203, 'Clarks Field_1')
(204, 'Clarks Field 2')
(205, 'Clarks Field 3')

[(202, 'Zilker Field_1'),
 (203, 'Clarks Field_1'),
 (204, 'Clarks Field 2'),
 (205, 'Clarks Field 3')]

In [486]:
db.close()

## 7. User Joins an Event

In [222]:
# Updates tables when a user joins an event

def user_joins_event(userid, eventid) :

    cursor.execute(''' Select event_capacity, members_joined from events where pk_event_id=? ''', (eventid,))
    eventroom=cursor.fetchone()

    if eventroom[0]>eventroom[1]:
        # Update Events table
        cursor.execute(''' Update events set members_joined=members_joined+1 where pk_event_id=? ''', (eventid,))

        # Update EventMembers table
        cursor.execute(''' INSERT INTO event_members values (?,?) ''',(eventid, userid))
        print("UserID: {0} has joined event: {1}".format(userid,eventid))
    else:
        return "Event is full"
    

    db.commit()

In [15]:
cursor.execute(''' Update events set event_capacity=2 where pk_event_id=2 ''')

## Test User_Joins_Event

In [223]:
user_joins_event(102,301)

UserID: 102 has joined event: 301